In [1]:
my_dict = {}
print(type(my_dict))

<class 'dict'>

In [2]:
student = {"name": "John",
           "age": 20,
           "grade": "A",
           "courses": ["Math", "Science", "English"]}
print(type(student))
print(student["name"])
print(student)

<class 'dict'>
John
{'name': 'John', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science', 'English']}

In [3]:
student1 = dict(name="Alice", age=22, grade="B", courses=["History", "Math"])
print(student1)

{'name': 'Alice', 'age': 22, 'grade': 'B', 'courses': ['History', 'Math']}

In [4]:
print(student1["courses"])
print(student1['age'])

['History', 'Math']
22

In [ ]:
student.get("name", "Unknown") #Unknown is the default value if "name" is not found

'John'

In [6]:
student1["age"] = 23
print(student1)
student["address"] = "123 Main St"
print(student)

{'name': 'Alice', 'age': 23, 'grade': 'B', 'courses': ['History', 'Math']}
{'name': 'John', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science', 'English'], 'address': '123 Main St'}

In [7]:
del student["grade"]
print(student)

{'name': 'John', 'age': 20, 'courses': ['Math', 'Science', 'English'], 'address': '123 Main St'}

In [8]:
student.keys()  # Returns a view object displaying a list of all the keys

dict_keys(['name', 'age', 'courses', 'address'])

In [9]:
student1.items()  # Returns a view object displaying a list of all the key-value pairs

dict_items([('name', 'Alice'), ('age', 23), ('grade', 'B'), ('courses', ['History', 'Math'])])

In [10]:
student_copy = student.copy()  # Creates a shallow copy of the dictionary
print(student_copy)

{'name': 'John', 'age': 20, 'courses': ['Math', 'Science', 'English'], 'address': '123 Main St'}

In [11]:
#Iterating through a dictionary
for key in student:
    print(f"{key}: {student[key]}")

name: John
age: 20
courses: ['Math', 'Science', 'English']
address: 123 Main St

In [12]:
for keys in student1.keys():
    print(keys)

name
age
grade
courses

In [13]:
for values in student1.values():
    print(values)

Alice
23
B
['History', 'Math']

In [14]:
for item in student1.items():
    print(item)

('name', 'Alice')
('age', 23)
('grade', 'B')
('courses', ['History', 'Math'])

In [15]:
for key, value in student1.items():
    print(f"{key} -> {value}")

name -> Alice
age -> 23
grade -> B
courses -> ['History', 'Math']

In [16]:
students = {
    "student1": {"name": "John", "age": 20, "grade": "A"},
    "student2": {"name": "Alice", "age": 22, "grade": "B"},
    "student3": {"name": "Bob", "age": 21, "grade": "C"}
}
print(students)

{'student1': {'name': 'John', 'age': 20, 'grade': 'A'}, 'student2': {'name': 'Alice', 'age': 22, 'grade': 'B'}, 'student3': {'name': 'Bob', 'age': 21, 'grade': 'C'}}

In [19]:
students["student1"]["age"]

20

In [20]:
#Iterating over nested dictionaries
for student_id, student_info in students.items():
    print(f"ID: {student_id}")
    for key, value in student_info.items():
        print(f"{key}: {value}")
    print()  # Print a newline for better readability

ID: student1
name: John
age: 20
grade: A

ID: student2
name: Alice
age: 22
grade: B

ID: student3
name: Bob
age: 21
grade: C

In [21]:
#Dictionary Comprehensions
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [22]:
# Conditional Dictionary Comprehensions
even_squares = {x: x**2 for x in range(1, 11) if x % 2 == 0}
print(even_squares)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [23]:
# Use a dictionary to count the frequency of elements in a list
numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
frequency = {num: numbers.count(num) for num in set(numbers)}
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [24]:
# Use a dictionary to count the frequency of characters in a string
text = "welcome to the world of Python and ML Ops training sessions"
char_frequency = {char: text.count(char) for char in set(text) if char != ' '}
print(char_frequency)

{'t': 4, 'o': 6, 'L': 1, 'i': 3, 'l': 2, 's': 5, 'a': 2, 'P': 1, 'g': 1, 'd': 2, 'O': 1, 'p': 1, 'h': 2, 'y': 1, 'c': 1, 'f': 1, 'w': 2, 'm': 1, 'r': 2, 'M': 1, 'n': 5, 'e': 4}

In [25]:
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"d": 4, "e": 5}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [27]:
merged_dict2 = {"name": "John", **dict1}