In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [3]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [6]:
for i in range(22, 10, -2):
    print(i)

22
20
18
16
14
12

In [7]:
str = "Hello World"
for i in str:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [8]:
count = 0

while count<5:
    print(count)
    count += 1

0
1
2
3
4

In [9]:
#The break statement exits the loop prematurely
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [10]:
#The continue statement skips the current iteration and continues with the next one
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [11]:
#The pass statement does nothing and is used as a placeholder
for i in range(5):
    if i == 3:
        pass
    print(i)

0
1
2
3
4

In [12]:
for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")

i: 0, j: 0
i: 0, j: 1
i: 1, j: 0
i: 1, j: 1
i: 2, j: 0
i: 2, j: 1

In [13]:
#Calculate the sum of first N natural numbers
n = 10
sum_n = 0
count = 1
while count <= n:
    sum_n += count
    count += 1
print(f"The sum of first {n} natural numbers is: {sum_n}")

The sum of first 10 natural numbers is: 55

In [14]:
n = 10
sum_n = 0
for i in range(11):
    sum_n += i
print(f"The sum of first {n} natural numbers is: {sum_n}")

The sum of first 10 natural numbers is: 55

In [15]:
#Prime numbers between 1 and 100
for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97