In [1]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [2]:
numbers = (1, 2, 3, 4, 5, 6)
numbers

(1, 2, 3, 4, 5, 6)

In [3]:
numbers2 = tuple([1, 2, 3, 4, 5, 6])
print(numbers2)

(1, 2, 3, 4, 5, 6)

In [4]:
mixed_tuple = (1, 2.5, "Hello", True)
print(mixed_tuple)

(1, 2.5, 'Hello', True)

In [5]:
numbers[0]  # Accessing the first element

1

In [6]:
mixed_tuple[2]

'Hello'

In [7]:
mixed_tuple[0:3]  # Slicing the first three elements

(1, 2.5, 'Hello')

In [8]:
numbers[::-1]  # Reversing the tuple

(6, 5, 4, 3, 2, 1)

In [10]:
concat_tuple = numbers + mixed_tuple
print(concat_tuple)

(1, 2, 3, 4, 5, 6, 1, 2.5, 'Hello', True)

In [11]:
repeat_tuple = mixed_tuple * 2
print(repeat_tuple)

(1, 2.5, 'Hello', True, 1, 2.5, 'Hello', True)

In [12]:
repeat_num = numbers * 3
print(repeat_num)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [14]:
repeat_num = numbers * 4
print(repeat_num)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [15]:
repeat_num[0] = 10  # This will raise an error since tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [16]:
numbers.count(3)  # Count occurrences of 3 in the tuple

1

In [17]:
packed_tuple = 1, "hello", 3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [18]:
a,b,c = packed_tuple  # Tuple unpacking
print(a, b, c)

1 hello 3.14

In [19]:
numbers = (1, 2, 3, 4, 5)
first, *middle, last = numbers  # Extended unpacking
print(first, middle, last)

1 [2, 3, 4] 5

In [20]:
nested_tuple = (1, 2, (3, 4), 5)
print(nested_tuple)

(1, 2, (3, 4), 5)

In [21]:
nested_tuple[2][1]  # Accessing an element in the nested tuple

4

In [23]:
for item in nested_tuple:
    for sub_item in (item if isinstance(item, tuple) else (item,)):
        print(sub_item, end=' ')

1 2 3 4 5